{# templates/main/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div>
    <h1>Hello MainController!</h1>
</div>
{% endblock %}
